@font-face {
  font-family: 'NeueHaasUnica-Medium';
  src: url('../asset/font/NeueHaasUnica-Medium.ttf');
  font-style: normal;
}

:root {
  font-size: 1em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "NeueHaasUnica-Medium", serif;
  font-weight: 500;
  font-style: normal;
  color: #1a1a1a;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: none;
  cursor: pointer;
}
